@import url('https://fonts.googleapis.com/css?family=Lato:900');
body, html, #root {
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-weight: black;
}

.app {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.25%;
  padding-right: 1.25%;
  width: 97.5%;
  height: 100%;
}

.row {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 20vw;
}

h2 {
  font-size: 10vw;
}

h3 {
  font-size: 5vw;
}