@import url("https://fonts.googleapis.com/css?family=Lato:900");

body,
html,
#root {
  width: 100vw;
  height: #{(8.99/16)*100}vw;
  font: {
    family: Lato, sans-serif;
    weight: black;
  }
  scrollbar-width: none;
}

.app {
  $width: 97.5%;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: {
    left: #{(100 - $width) / 2};
    right: #{(100 - $width) / 2};
  }
  width: $width;
  height: 100%;
}

.row-reverse {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.time {
  flex-shrink: 2;
  text-align: right;
}

.mentors {
  flex-shrink: 0; // Never wrap mentor names
}

@for $i from 1 through 4 {
  h#{$i} {
    margin: 0;
  }
}

h1 {
  font-size: 18vw;
}

h2 {
  font-size: 8vw;
}

h3 {
  font-size: 5vw;
  ul {
    margin-top: 0;
    padding-left: 5vw;
    margin-bottom: 0;
  }
}
